<div class="row">
    <div class="col-md-12">
      <div class="IncidenteAreaPicker">
        <div class="IncidenteAreaPicker__item"
             (click)="changeArea(IncidenteAreaEnum.NIVEL1)"
             [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL1}">
          OPCION1
        </div>
        <div class="IncidenteAreaPicker__item"
             (click)="changeArea(IncidenteAreaEnum.NIVEL2)"
             [ngClass]="{'PizzaSizePicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL2}">
          OPCION2
        </div>
        <div class="IncidenteAreaPicker__item"
             (click)="changeArea(IncidenteAreaEnum.NIVEL3)"
             [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL3}">
          OPCION3
        </div>
      </div>
    </div>
  </div>
  