<mat-card class="example-form basic-container">
    <mat-card-title>CONFIGURACION DE CAMPOS</mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer style="width:95%">
    </mat-card-footer>
  </mat-card>
  
  
  <div class="example-container">
  
    </div>
  
    <div class="container">
      <!-- <p>
        A progress bar:
        <ngb-progressbar showValue="true" type="success" [value]="65">
        </ngb-progressbar>
      </p> -->
      <button type="button" class="btn btn-outline-secondary mr-2" ngbPopover="Guía" popoverTitle="Titulo Guia">
        Campo 1 de CONFIGURACION
      </button>  
      <button type="button" class="btn btn-outline-secondary" [popoverTitle]="popTitle" [ngbPopover]="popContent">
        Campo 2 de CONFIGURACION
      </button>
        <ng-template #popTitle>
          <b>opción 1</b>, 
          <i>opción 2</i> / 
          <u>opción 3</u> 
        </ng-template>
      <ng-template #popContent>
        <b>
          Descripcion Extendida
        </b>
      </ng-template>
    </div>
  
  
  