<mat-card class="example-form basic-container">
  <mat-card-title>INGRESO DE EVENTO</mat-card-title>
  <mat-card-subtitle>
    Al finalizar el encargado de C13 deberá aprobar mediante código PIN personal
  </mat-card-subtitle>
  <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px">
        <div fxFlex="50">
          <div class="jumbotron">
            <app-detalle-evento-operaciones></app-detalle-evento-operaciones>
            <!-- <app-detalle-evento-operaciones [group]="form.get('eventoDetails')"></app-detalle-evento-operaciones> -->
          </div>
          <div class="row">
          <!-- <div class="row" *ngIf="!selectedEventGroup" [formGroup]="selectedEventGroup"> -->
            <!-- <div class="col-md-12" *ngIf="selectedEventGroup.errors?.toppingPizzaSize">
              <div  class="ValidationErrorLabel mg-bottom-15">
                {{selectedEventGroup.errors?.toppingPizzaSize?.message}}
              </div>
            </div> -->
            <div class="col-md-6 offset-md-3">
              <!-- <app-opc1-operaciones formControlName="size"></app-opc1-operaciones> -->
            </div>
            <div class="col-md-12 mg-top-15">
              <h5>Incidentes</h5>
              <div class="ToppingsSelector" >
                <app-detalle-incidente-operaciones (addPizza)="onPizzaAdd()"
                    [selectedPizzaGroup]="selectedPizzaGroup">
                </app-detalle-incidente-operaciones>
              </div>
              <div class="ToppingsSelector" >
                <app-lista-incidentes-operaciones [group]="form"
                  (pizzaSelected)="onPizzaSelected($event)"
                  (addPizza)="onPizzaAdd()"
                  (deletePizza)="onPizzaDelete($event)">
                </app-lista-incidentes-operaciones>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="50">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>INFORME DE OPERACION</mat-card-title>

                  <mat-card-subtitle class="DetalleInforme">
                      <mat-form-field>
                          <input matInput placeholder="Generado por:" [value]="responsable.nombre" [formControl]="mostrarResponsable" readonly />
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Responsabilidad:" [value]="responsable.responsabilidad" formControlName="lastName" readonly/>
                        </mat-form-field>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-divider inset='True'></mat-divider>

                <mat-card-content class="DetalleInforme">
                  <p>
                    El presente Informe de operacion informa los eventos ocurridos durante
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>APROBAR</button>
                  <button mat-button>RECHAZAR</button>
                </mat-card-actions>
              </mat-card>
            <!-- <div class="jumbotron">
                <mat-list>
                  <mat-list-item>Item 1</mat-list-item>
                  <mat-divider inset='True'></mat-divider>
                  <mat-list-item>
                      <div class="col-md-12">
                          <h4>
                            Detalle del supervisor
                          </h4>
                        </div>
                      <input matInput placeholder="Nombre" [value]="responsable.nombre" [formControl]="mostrarResponsable" />
                      <input matInput placeholder="Responsabilidad" [value]="responsable.responsabilidad" formControlName="lastName" />
                  </mat-list-item>
                  <mat-divider inset='True'></mat-divider>
                    <div class="row">
                    
                      <div class="col-md-12">
                          <h4>
                            Detalle del supervisor
                          </h4>
                        </div>
                      <mat-form-field>
                            <input matInput placeholder="Nombre" [value]="responsable.nombre" [formControl]="mostrarResponsable" />
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Responsabilidad" [value]="responsable.responsabilidad" formControlName="lastName" />
                          </mat-form-field>
                    </div>
                </mat-list>
            </div> -->
        </div>
      </div>
  </mat-card-content>
  <mat-card-footer style="width:95%">
  </mat-card-footer>
</mat-card>


<div class="example-container">

  </div>