<div class="row" [formGroup]="group">
    <div class="col-md-12">
      <div class="PizzaList">
        <div class="PizzaList__title">
          <!-- copiar class de tabla para el listado -->
          <h2>
            Listado de incidentes:
          </h2>
        </div>
        <div class="PizzaList__content" formArrayName="incidentes">
            <div class="PizzaList__item PizzaList__item--add" (click)="addIncidente.emit()">
                <mat-icon class="PizzaList__item__icon">add_circle</mat-icon>
            </div>
          <div class="PizzaList__item"
               *ngFor="let incidente of incidentesArray.controls; let i = index;"
               [ngClass]="getIncidenteListItemClassStates(pizza, i)"
               (click)="incidenteSelected.emit(i)"
               [formGroup]="incidente">
            <span>
              {{getIncidenteTitle(incidente.value)}}
            </span>
  
            <button mat-icon-button (click)="deleteIncidente.emit(i); $event.stopPropagation()">
              <mat-icon class="PizzaList__item__icon">remove_circle</mat-icon>
            </button>
          </div>
  

        </div>
      </div>
    </div>
  </div>