<div class="row" [formGroup]="group">
    <div class="col-md-12">
      <div class="IncidenteList">
        <div class="IncidenteList__title">
          <!-- copiar class de tabla para el listado -->
<!--           <h4>
            Listado de incidentes:
          </h4> -->
        </div>
        <div class="IncidenteList__content" formArrayName="incidentes">

          <div class="IncidenteList__item"
               *ngFor="let incidente of incidentesArray.controls; let i = index;"
               [ngClass]="getIncidenteListItemClassStates(incidente, i)"
               (click)="incidenteSelected.emit(i)"
               [formGroup]="incidente">
            <span>
              {{getIncidenteTitle(incidente.value)}}
            </span>
  
            <button mat-icon-button (click)="deleteIncidente.emit(i); $event.stopPropagation()">
              <mat-icon class="IncidenteList__item__icon">remove_circle</mat-icon>
            </button>
          </div>
  
          <div class="IncidenteList__item IncidenteList__item--add" (click)="addIncidente.emit()">
            <mat-icon class="IncidenteList__item__icon">add_circle</mat-icon>
        </div>

        </div>
      </div>
    </div>
  </div>