<mat-card class="example-form basic-container">
        <mat-card-title>HISTORIAL DE EVENTOS</mat-card-title>
        <mat-card-subtitle>
          Filtros de búsqueda
            <div fxLayout fxLayoutAlign="center center">
              <mat-form-field fxFlex="40%">
                <!-- <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Ingrese una palabra para filtrar" #input> -->
                <input matInput placeholder="Ingrese el area de PRODUCCION" #input>
              </mat-form-field>
            </div>
        </mat-card-subtitle>
        <mat-card-content>
<!--           <div class="spinner-container" *ngIf="dataSource2.loading$ | async">

            <mat-spinner></mat-spinner>
    
        </div> -->
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element" class="my-fecha"> {{element.detalleeventoOperaciones.fechaEvento | date}} </td>
            </ng-container>
          
            <!-- PRODUCCION -->
            <ng-container matColumnDef="produccion">
              <th mat-header-cell *matHeaderCellDef> PRODUCCION </th>
              <td mat-cell *matCellDef="let element"> {{element.detalleeventoOperaciones.produccion.areaProduccion}} </td>
            </ng-container>

            <ng-container matColumnDef="programa">
              <th mat-header-cell *matHeaderCellDef> PROGRAMA </th>
              <td mat-cell *matCellDef="let element"> {{element.detalleeventoOperaciones.produccion.pgmProduccion}} </td>
            </ng-container>
          
            <ng-container matColumnDef="responsable">
              <th mat-header-cell *matHeaderCellDef> OBS SUPERVISOR </th>
              <td mat-cell *matCellDef="let element" class="my-field"> {{element.detalleeventoOperaciones.obsEvento}} </td>
            </ng-container>
          
            <ng-container matColumnDef="aprobado">
              <th mat-header-cell *matHeaderCellDef> OBS PRODUCCION </th>
              <td mat-cell *matCellDef="let element" class="my-field"> {{element.detalleeventoOperaciones.obsEventoProduccion}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> CONFIRMA PROD </th>
                <td mat-cell *matCellDef="let element"> {{element.detalleeventoOperaciones.confirmaProd}} </td>
              </ng-container>

              <ng-container matColumnDef="estadoEvento">
                <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                <td mat-cell *matCellDef="let element"> {{element.detalleeventoOperaciones.estadoEvento}} </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></tr>

          </table>
          <mat-paginator 
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions">
              <!-- (page)="pageEvent = $event"> -->
          </mat-paginator>
        </mat-card-content>
        <mat-card-footer style="width:95%">

        </mat-card-footer>
      </mat-card>
      
      <div class="example-container">
        </div>