<form [formGroup]="incidenciaDialogForm">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px">
    <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">
      <mat-card>
        <mat-list>
          <mat-list-item>Descripción del Evento de Operación:</mat-list-item>
          <mat-divider inset="true"></mat-divider>
        </mat-list>
        <div [formGroup]="incidenciaDialogForm.get('detalleeventoOperaciones.produccion')">
          <mat-form-field class="example-full-width">
            <mat-label>Programa</mat-label>
            <input matInput formControlName="pgmProduccion" readonly="true">
          </mat-form-field>
        </div>
        <div [formGroup]="incidenciaDialogForm.get('detalleeventoOperaciones')">
          <mat-form-field class="example-full-width">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fechaEvento" readonly="true">
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>
</form>
