<!-- <form [formGroup]="incidenciaDialogForm" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="incidenciaDialogForm">
  <!-- <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px"> -->
    <!-- <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%"> -->
      <mat-card>
        <mat-list>
          <mat-list-item>Descripción del Evento de Operación:</mat-list-item>
          <mat-divider inset="true"></mat-divider>
        </mat-list>

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center">
          <div fxFlex="100" fxFlex.xs="50%" fxFlex.sm="50%">
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>            
                <div [formGroup]="incidenciaDialogForm.get('detalleeventoOperaciones.produccion')">
                  <mat-form-field class="example-full-width">
                    <mat-label>Programa</mat-label>
                    <input matInput formControlName="pgmProduccion" readonly="true">
                  </mat-form-field>
                </div>
              </mat-grid-tile>

              <div [formGroup]="incidenciaDialogForm.get('detalleeventoOperaciones')">
                <mat-grid-tile>
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="fechaEvento" readonly="true">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="example-full-width">
                    <mat-label>Hora Incio Real</mat-label>
                    <input matInput formControlName="horaRealIni" readonly="true">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="example-full-width">
                    <mat-label>Hora Fin Real</mat-label>
                    <input matInput formControlName="horaRealFin" readonly="true">
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
              <mat-list-item>Responsable Operación:</mat-list-item>
              <li>
                {{ data["data"].detalleeventoOperaciones.responsableEvento }}
              </li>
              <mat-list-item>Areas con Observacion:</mat-list-item>
              <li *ngFor="let hero of data.incidentes">
                {{ hero.detalles[0] }}:
                {{ hero.descripcion }}
              </li>
            <div [formGroup]="incidenciaDialogForm.get('detalleeventoOperaciones')">
                <mat-form-field class="example-full-width">
                  <mat-label>Observacion Supervisor</mat-label>
                  <input matInput formControlName="obsEvento" readonly="true">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Observacion Produccion (Indicar comentarios)</mat-label>
                  <input matInput formControlName="obsEventoProduccion">
                </mat-form-field>
                <mat-form-field class="example-full-width" *ngIf="gestion">
                  <mat-label>Observacion Gestion (Indicar comentarios)</mat-label>
                  <input matInput formControlName="obsEventoGestion">
                </mat-form-field>
                  <p *ngIf="gestion">
                    Nivel de incidencia:
                    <mat-button-toggle-group formControlName="nivelIncidencia">
                      <mat-button-toggle value="Menor">Menor</mat-button-toggle>
                      <mat-button-toggle value="Moderada">Moderada</mat-button-toggle>
                      <mat-button-toggle value="Grave">Grave</mat-button-toggle>
                      <mat-button-toggle value="Crítica">Crítica</mat-button-toggle>
                    </mat-button-toggle-group>
                  </p>
                  <p *ngIf="gestion">
                    Nivel de impacto:
                    <mat-button-toggle-group aria-label="Font Style" formControlName="nivelImpacto">
                      <mat-button-toggle value="Leve">Leve</mat-button-toggle>
                      <mat-button-toggle value="Bajo">Bajo</mat-button-toggle>
                      <mat-button-toggle value="Medio">Medio</mat-button-toggle>
                      <mat-button-toggle value="Alto">Alto</mat-button-toggle>
                    </mat-button-toggle-group>
                  </p>
                  <p *ngIf="gestion">
                    Estado del Evento:
                    <mat-button-toggle-group aria-label="Font Style" formControlName="estadoEvento">
                      <mat-button-toggle value="Cerrado">Cerrado</mat-button-toggle>
                      <mat-button-toggle value="Pendiente">Pendiente</mat-button-toggle>
                      <mat-button-toggle value="Activo">Activo</mat-button-toggle>
                    </mat-button-toggle-group>
                  </p>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card-actions class="mymat" *ngIf="gestion; else nogestion">
        <button mat-raised-button color="primary" (click)="submit_gestion()">
          GUARDAR
        </button>
        <button mat-raised-button color="warning" (click)="submit_nogestion()">
          CANCELAR
        </button>
      </mat-card-actions>
      <ng-template #nogestion>
        <mat-card-actions class="mymat">
          <button mat-raised-button color="primary" (click)="submit()">
            CONFIRMAR
          </button>
          <button mat-raised-button color="warning" (click)="submit_no()">
            NO CONFIRMAR
          </button>
        </mat-card-actions>
      </ng-template>

    <!-- </div> -->
  <!-- </div> -->
</form>
