<div class="row">
    <div class="col-md-12">
      <div class="IncidenteAreaPicker">
        <div class="IncidenteAreaPicker__item"
             (click)="changeArea(IncidenteAreaEnum.NIVEL1)"
             [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL1}">
          Menor
        </div>
        <div class="IncidenteAreaPicker__item"
        (click)="changeArea(IncidenteAreaEnum.NIVEL2)"
        [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL2}">
          Grave
        </div>
        <div class="IncidenteAreaPicker__item"
        (click)="changeArea(IncidenteAreaEnum.NIVEL3)"
        [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.NIVEL3}">
          Crítica
        </div>
      </div>
    </div>
  </div>