<div class="row">
    <div class="col-md-12">
      <div class="IncidenteAreaPicker">
        <div class="IncidenteAreaPicker__item"
             (click)="changeArea(IncidenteAreaEnum.AREA1)"
             [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.AREA1}">
          Menor
        </div>
        <div class="IncidenteAreaPicker__item"
        (click)="changeArea(IncidenteAreaEnum.AREA2)"
        [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.AREA2}">
          Grave
        </div>
        <div class="IncidenteAreaPicker__item"
        (click)="changeArea(IncidenteAreaEnum.AREA3)"
        [ngClass]="{'IncidenteAreaPicker__item--active': incidenteArea === IncidenteAreaEnum.AREA3}">
          Crítica
        </div>
      </div>
    </div>
  </div>