<mat-card class="example-form basic-container">
  <h4 *ngIf="error">{{error}}</h4>
  <mat-card-title>Evaluación de Operación:</mat-card-title>
  <mat-card-subtitle>
    El evento quedará pendiente hasta la aprobación por parte de la producción
  </mat-card-subtitle>
  <mat-card-content>

    <!-- PRIMERA FILA -->

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px" [formGroup]="form">
        <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">
          <!-- DETALLE DEL EVENTO -->
          <div color="primary" class="example-toolbar">
            <app-detalle-evento-operaciones [group]="form.get('detalleeventoOperaciones')"></app-detalle-evento-operaciones>
          </div>
        </div>
      </div>

      <!-- SEGUNDA FILA -->

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px" [formGroup]="form">
        <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="100%">
          <!-- <mat-card class="example-card"> -->
          <mat-card>
              <mat-card-header>
                <mat-card-title>Listado de Observaciones:</mat-card-title>
                <!-- <mat-card-subtitle class="DetalleInforme"> -->
                <mat-card-subtitle>
                  Para realizar una observación presionar +
                </mat-card-subtitle>
              </mat-card-header>
              <mat-divider inset='True'></mat-divider>

              <!-- <mat-card-content class="DetalleInforme"> -->
              <mat-card-content>

                <!-- <div class="ToppingsSelector" > -->
                <div>
                  <app-lista-incidentes-operaciones [group]="form"
                    (incidenteSelected)="onIncidenteSelected($event)"
                    (addIncidente)="onIncidenteAdd()"
                    (deleteIncidente)="onIncidenteDelete($event)">
                  </app-lista-incidentes-operaciones>
                </div>

              </mat-card-content>
              <mat-card-actions class="mymat">
                <button mat-raised-button color="primary" (click)="submit(form.value)">
                <!-- <button class="pull-right" mat-raised-button color="primary" (click)="submit(form.value)"> -->
                  GUARDAR
                </button>
                <button mat-button>
                  CANCELAR
                </button>
              </mat-card-actions>
            </mat-card>
      </div>

        <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="100%">
          <!-- DETALLE DEL INCIDENTE -->
            <mat-card>
              <mat-card-header>
                <mat-card-title>Observación de Evaluación:</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="DetallesSelector" >
                  <app-detalle-incidente-operaciones (addIncidente)="onIncidenteAdd()"
                                                      [selectedIncidenteGroup]="selectedIncidenteGroup">
                  </app-detalle-incidente-operaciones>
                </div>  
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
            </mat-card>
        </div>

      </div>

  </mat-card-content>

<!--   <div fxShow fxHide.xs="true" fxHide.sm="true">
    <mat-card-footer style="width:95%; height: 10px">
    </mat-card-footer>
  </div> -->

</mat-card>

<!-- <div class="example-container">

  </div> -->