.example-card {
    max-width: 500px;
    flex: 0 0 auto;
    text-align: left;
  }

  .example-header-image {
    background-size: cover;
  }

.mat-content > mat-card-header, .mat-content > mat-card-subtitle {
flex: 0 0 auto;
text-align: center;
}
