<div class="ToppingsSelector" formArrayName="toppings">
    <div class="ToppingsSelector__item" *ngFor="let topping of toppingsArray.controls" [formGroup]="topping" >
      <mat-checkbox [formControl]="topping.get('selected')">
        {{topping.get('name').value}}
      </mat-checkbox>
    </div>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Motivo" />
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Descripcion"  />
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Responsable"  />
  </mat-form-field>
</div>