<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"><span>Plataformas de Ingeniería</span></h1>
    <img
      width="40"
      alt="13 Logo"
      src="../assets/logo.png"
    />
    <div class="spacer"></div>
<!--     <a aria-label="Config de usuario" target="_blank" rel="noopener" title="LogOut" (click)="logout()" *ngIf="currentUser">
      <img id="twitter-logo" class="filter-blank" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" src="assets/account_circle-24px.svg">
    </a> -->
    <a aria-label="LogOut" target="_blank" rel="noopener" title="LogOut" (click)="logout()" *ngIf="currentUser">
      <i data-name="Logo — FIXED" viewBox="0 0 400 400" class="material-icons md-36">exit_to_app</i>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-accordion *ngIf="currentUser">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                GESTION DE OPERACION
              </mat-panel-title>
              <!-- <mat-panel-description>
                Control de eventos
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            Ingresar        
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                GESTION DE INCIDENCIAS
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            Ingresar
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                GESTION DE EVENTOS MCR
              </mat-panel-title>
              <!-- <mat-panel-description>
                Control de eventos
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            Ingresar        
          </mat-expansion-panel>
        </mat-accordion> 
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <nav mat-tab-nav-bar *ngIf="currentUser">
        <a mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <alert></alert>
      <router-outlet></router-outlet>
 
    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer>
    <!-- <div role="banner"> -->
    <div class="toolbar" role="banner">
      Prototipo versión 0.0.1        
      <a target="_blank" rel="noopener">
          <img src="assets/code-24px.svg">
      </a>
      <!-- <div class="spacer"></div> -->
    </div>
  </footer>

</div>

