<div class="row" *ngIf="selectedIncidenteGroup" [formGroup]="selectedIncidenteGroup">
  <!-- <h5>Nivel de severidad:</h5> -->
<!--   <div class="col-md-6 offset-md-3">
    <app-incidente-area-picker formControlName="area"></app-incidente-area-picker>
  </div> -->
    <!-- detalles son las tipos de error -->
  <div class="col-md-12 mg-top-15">

<!--     <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Motivo" formControlName="motivo"></textarea>
    </mat-form-field> -->

    <div class="DetallesSelector" formArrayName="detalles">

      <div class="DetallesSelector__item" *ngFor="let detalle of detallesArray.controls" [formGroup]="detalle" >
       <mat-checkbox [formControl]="detalle.get('selected')">
          {{detalle.get('name').value}}
        </mat-checkbox>
      </div>
      <mat-hint>*Obligatorio</mat-hint>
    </div>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
      <mat-hint>*Obligatorio</mat-hint>
    </mat-form-field>

<!--     <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Impacto" [popoverTitle]="popTitle" [ngbPopover]="popContent" formControlName="impacto"></textarea>
    </mat-form-field>
    <ng-template #popTitle>Ayuda</ng-template>
    <ng-template #popContent>Describir los efectos del incidente</ng-template> -->

  </div>
</div>
