<form>
  <div [formGroup]="group">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px">
      <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-card>
        <mat-list>
          <mat-list-item>Descripción del Evento de Operación:</mat-list-item>
          <mat-divider inset="true"></mat-divider>
        </mat-list>
          <!-- INICIO DETALLE DEL EVENTO --- SON DATOS PARTICULARES DEL EVENTO-->
          <div [formGroup]="group.get('produccion')">

            <!-- NOMBRE PROGRAMA -->
<!--             <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Nombre Programa" formControlName="pgmProduccion"></textarea>
              <mat-hint>*Obligatorio</mat-hint>
            </mat-form-field> -->

            <mat-form-field class="example-full-width">
              <mat-hint>*Obligatorio</mat-hint>
              <mat-label>Nombre de Programa</mat-label>
              <mat-select name="nombreprograma" formControlName="pgmProduccion" (selectionChange)="changeNombrePrograma($event)">
                <mat-option *ngFor="let nombreprograma of nombreprogramas" [value]="nombreprograma.value">
                  {{nombreprograma.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- AREA PRODUCCION-->
            <mat-form-field class="example-full-width">
              <!-- <mat-select placeholder="Area" [formControl]="responsableCtrl" formControlName="areaProduccion">
                <mat-option value="">Area 1</mat-option>
              </mat-select> -->
              <!-- <mat-select placeholder="Area Producción" [formControl]="responsableCtrl" name="areaProduccion" > -->
              <mat-select placeholder="Area Producción" formControlName="areaProduccion" >
                <mat-option *ngFor="let area of areas" [value]="area.value" >
                  {{area.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- TIPO PROGRAMA -->
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Tipo de Programa" formControlName="tipopgmProduccion">
                <mat-option *ngFor="let tipoprograma of tipoprogramas" [value]="tipoprograma.value">
                  {{tipoprograma.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

            <!-- VIVO/GX -->
            <div class="Row">

            <mat-radio-group formControlName="tipoOperacion">
              <mat-radio-button value="VIVO" checked>Vivo</mat-radio-button>
              <mat-radio-button value="GX">Grabación</mat-radio-button>
            </mat-radio-group>
          </div>

            <!-- ESTUDIO/EXTERIOR -->
            <div class="Row">

            <mat-radio-group formControlName="tipoLocacion">
              <mat-radio-button value="ESTUDIO" checked>Estudio</mat-radio-button>
              <mat-radio-button value="EXTERIOR">Exterior</mat-radio-button>
            </mat-radio-group>
          </div>

            <!-- LOCACION -->
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Locación"></textarea>
            </mat-form-field>

        <!-- FECHA -->
        <mat-form-field class="example-full-width example-h2">
          <!-- <input matInput [matDatepicker]="picker" placeholder="Fecha del evento" [formControl]="stateCtrl" formControlName="fechaEvento"> -->
          <input matInput [matDatepicker]="picker" placeholder="Fecha del evento" formControlName="fechaEvento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-hint>*Obligatorio</mat-hint>
        </mat-form-field>

        <mat-list>
          <!-- HORA -->
          <mat-list-item>Hora Programada</mat-list-item>
          <mat-list-item>
            <mat-form-field class="example-h2">
              <input class="reloj" matInput type="time" placeholder="Inicio">
            </mat-form-field>
            <mat-form-field class="example-h2">
              <input class="reloj" matInput type="time" placeholder="Fin">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>Hora Real</mat-list-item>
          <mat-list-item>
            <mat-form-field class="example-h2">
              <input class="reloj" matInput type="time" placeholder="Inicio">
            </mat-form-field>
            <mat-form-field class="example-h2">
              <mat-label>Atraso?</mat-label>
              <mat-select name="atrasoin" [(value)]="selectedAtrasoIn">
                <mat-option *ngFor="let atrasoin of atrasoins" [value]="atrasoin.value">
                  {{atrasoin.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field class="example-h2">
              <input class="reloj" matInput type="time" placeholder="Fin">
            </mat-form-field>
            <mat-form-field class="example-h2">
              <mat-label>Atraso?</mat-label>
              <mat-select name="atrasoout" [(value)]="selectedAtrasoOut">
                <mat-option *ngFor="let atrasoout of atrasoouts" [value]="atrasoout.value">
                  {{atrasoout.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-list>

          <!-- RESPONSABLE -->
          <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Responsable/Supervisor" aria-label="Responsable" [matAutocomplete]="auto" [formControl]="stateCtrl"> -->
                  <!--       <input matInput placeholder="Responsable/Supervisor" 
                                aria-label="Responsable" 
                                [matAutocomplete]="auto" 
                                [formControl]="responsableCtrl" 
                                formControlName="responsableEvento"> -->
            <input matInput placeholder="Responsable/Supervisor" 
                    aria-label="Responsable" 
                    [matAutocomplete]="auto" 
                    formControlName="responsableEvento"
                    > 
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <mat-option *ngFor="let state of filteredStates | async" [value]="state.name"> -->
              <mat-option *ngFor="let responsable of filteredResponsables | async" [value]="responsable.nombre">
                <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                <span>{{responsable.nombre}}</span> |
                <small>Resp: {{responsable.empresa}}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-hint>*Obligatorio</mat-hint>
          </mat-form-field>

            <!-- ATENCION campo: atencionEvento-->
            <!-- <mat-form-field class="example-full-width"> -->
              <!-- <input matInput placeholder="Empresa/Atención" [popoverTitle]="popTitle" [ngbPopover]="popContent" [formControl]="responsableCtrl" formControlName="atencionEvento"> -->
              <!-- OK <input matInput placeholder="Empresa de Servicio" [popoverTitle]="popTitle" [ngbPopover]="popContent" formControlName="atencionEvento"> -->
              <!-- <mat-hint>*Obligatorio</mat-hint> -->
            <!-- </mat-form-field> -->

            <mat-form-field class="example-full-width">
              <mat-label>Responsabilidad Operación</mat-label>
              <mat-select formControlName="atencionEvento" [popoverTitle]="popTitle" [ngbPopover]="popContent">
                <mat-option *ngFor="let atencionempresa of atencionempresas" [value]="atencionempresa.value">
                  {{atencionempresa.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #popTitle>Ayuda</ng-template>
            <ng-template #popContent>Quien presta el servicio</ng-template>

            <!-- OBSERVACION -->
            <mat-form-field class="example-full-width">
              <!-- <textarea matInput placeholder="Observación" [formControl]="responsableCtrl" formControlName="obsEvento"></textarea> -->
              <textarea matInput placeholder="Observación" formControlName="obsEvento"></textarea>
            </mat-form-field>

            <br>

        </mat-card>
    </div>
    <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">
      <mat-card>
      <mat-list>
        <mat-list-item>Registro por Área:</mat-list-item>
        <mat-divider inset="true"></mat-divider>
      </mat-list>
      <mat-accordion>
        <!-- CAMARA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
                              (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              CAMARA
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Camara:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChange($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChange()"
                    [checked]="checkedCamaraCamara"
                    [disabled]="disabledCamaraCamara">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Pluma:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraPluma($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraPluma()"
                    [checked]="checkedCamaraPluma"
                    [disabled]="disabledCamaraPluma">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Steady:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraSteady($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraSteady()"
                    [checked]="checkedCamaraSteady"
                    [disabled]="disabledCamaraSteady">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Riel:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraRiel($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraRiel()"
                    [checked]="checkedCamaraRiel"
                    [disabled]="disabledCamaraRiel">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Dron:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraDron($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraDron()"
                    [checked]="checkedCamaraDron"
                    [disabled]="disabledCamaraDron">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Personal:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraPersonal($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraPersonal()"
                    [checked]="checkedCamaraPersonal"
                    [disabled]="disabledCamaraPersonal">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

          </mat-list>
      
        </mat-expansion-panel>

        <!-- VIDEO -->
        <mat-expansion-panel (opened)="panelOpenState = false"
                              (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              VIDEO
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Comunicaciones:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeVideoComunicaciones($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeVideoComunicaciones()"
                    [checked]="checkedVideoComunicaciones"
                    [disabled]="disabledVideoComunicaciones">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Pantallas:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeVideoPantallas($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeVideoPantallas()"
                    [checked]="checkedVideoPantallas"
                    [disabled]="disabledVideoPantallas">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Switch:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeVideoSwitch($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeVideoSwitch()"
                    [checked]="checkedVideoSwitch"
                    [disabled]="disabledVideoSwitch">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Personal:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeVideoPersonal($event)" [checked]="defaultchecked">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeVideoPersonal()"
                    [checked]="checkedVideoPersonal"
                    [disabled]="disabledVideoPersonal">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

          </mat-list>
      
        </mat-expansion-panel>
        <!-- PLAY OUT -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              PLAY OUT
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Recurso Técnico:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" (change)="onChangePlayRecurso($event)">Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            (toggleChange)="onToggleChangePlayRecurso()"
            [checked]="checkedPlayRecurso"
            [disabled]="disabledPlayRecurso">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Contenido:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" (change)="onChangePlayContenido($event)">Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            (toggleChange)="onToggleChangePlayContenido()"
            [checked]="checkedPlayContenido"
            [disabled]="disabledPlayContenido">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Personal:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" (change)="onChangePlayPersonal($event)">Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            (toggleChange)="onToggleChangePlayPersonal()"
            [checked]="checkedPlayPersonal"
            [disabled]="disabledPlayPersonal">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- GRAFICA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            GRAFICA
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeGraficaRecurso($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeGraficaRecurso()"
              [checked]="checkedGraficaRecurso"
              [disabled]="disabledGraficaRecurso">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeGraficaPersonal($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeGraficaPersonal()"
              [checked]="checkedGraficaPersonal"
              [disabled]="disabledGraficaPersonal">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- AUDIO -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AUDIO
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeAudioRecurso($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeAudioRecurso()"
              [checked]="checkedAudioRecurso"
              [disabled]="disabledAudioRecurso">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeAudioPersonal($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeAudioPersonal()"
              [checked]="checkedAudioPersonal"
              [disabled]="disabledAudioPersonal">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- ILUMINACION -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ILUMINACION
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeIluminacionRecurso($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeIluminacionRecurso()"
              [checked]="checkedIluminacionRecurso"
              [disabled]="disabledIluminacionRecurso">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" (change)="onChangeIluminacionPersonal($event)">Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              (toggleChange)="onToggleChangeIluminacionPersonal()"
              [checked]="checkedIluminacionPersonal"
              [disabled]="disabledIluminacionPersonal">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- TRANSPORTE SEÑAL -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              TRANSPORTE SEÑAL / ENLACE
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- ENERGIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ENERGIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- AC -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AC 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- MAQUILLAJE/PELUQUERIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              MAQUILLAJE/PELUQUERIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- UTILERIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              UTILERIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- TRAMOYA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              TRAMOYA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- SUPERVISOR -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              SUPERVISOR
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- FIN CATEGORIAS -->
      </mat-accordion>
    </mat-card>
    </div>
  </div>
</div>
</form>