<form>
  <div [formGroup]="group">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="25px">
      <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">

          <!-- MENCIONA AL RESPONSABLE DE GENERAR EL EVENTO -->
          <!-- FECHA -->
          <mat-form-field class="example-full-width">
            <!-- <input matInput [matDatepicker]="picker" placeholder="Fecha del evento" [formControl]="stateCtrl" formControlName="fechaEvento"> -->
            <input matInput [matDatepicker]="picker" placeholder="Fecha del evento" formControlName="fechaEvento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-hint>*Obligatorio</mat-hint>
          </mat-form-field>

          <!-- RESPONSABLE -->
          <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Responsable/Supervisor" aria-label="Responsable" [matAutocomplete]="auto" [formControl]="stateCtrl"> -->
                  <!--       <input matInput placeholder="Responsable/Supervisor" 
                                aria-label="Responsable" 
                                [matAutocomplete]="auto" 
                                [formControl]="responsableCtrl" 
                                formControlName="responsableEvento"> -->
            <input matInput placeholder="Responsable/Supervisor" 
                    aria-label="Responsable" 
                    [matAutocomplete]="auto" 
                    formControlName="responsableEvento"
                    > 
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <mat-option *ngFor="let state of filteredStates | async" [value]="state.name"> -->
              <mat-option *ngFor="let responsable of filteredResponsables | async" [value]="responsable.nombre">
                <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                <span>{{responsable.nombre}}</span> |
                <small>Resp: {{responsable.empresa}}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-hint>*Obligatorio</mat-hint>
          </mat-form-field>

            <!-- ATENCION -->
            <mat-form-field class="example-full-width">
              <!-- <input matInput placeholder="Empresa/Atención" [popoverTitle]="popTitle" [ngbPopover]="popContent" [formControl]="responsableCtrl" formControlName="atencionEvento"> -->
              <input matInput placeholder="Empresa/Atención" [popoverTitle]="popTitle" [ngbPopover]="popContent" formControlName="atencionEvento">
              <mat-hint>*Obligatorio</mat-hint>
            </mat-form-field>
            <ng-template #popTitle>Ayuda</ng-template>
            <ng-template #popContent>Quien presta el servicio</ng-template>

            <!-- OBSERVACION -->
            <mat-form-field class="example-full-width">
              <!-- <textarea matInput placeholder="Observación" [formControl]="responsableCtrl" formControlName="obsEvento"></textarea> -->
              <textarea matInput placeholder="Observación" formControlName="obsEvento"></textarea>
            </mat-form-field>

            <br>

          <!-- INICIO DETALLE DEL EVENTO --- SON DATOS PARTICULARES DEL EVENTO-->
          <div [formGroup]="group.get('produccion')">
            
            <!-- AREA PRODUCCION-->
            <mat-form-field class="example-full-width">
              <!-- <mat-select placeholder="Area" [formControl]="responsableCtrl" formControlName="areaProduccion">
                <mat-option value="">Area 1</mat-option>
              </mat-select> -->
              <!-- <mat-select placeholder="Area Producción" [formControl]="responsableCtrl" name="areaProduccion" > -->
              <mat-select placeholder="Area Producción" formControlName="areaProduccion" >
                <mat-option *ngFor="let area of areas" [value]="area.value" >
                  {{area.viewValue}}
                </mat-option>
              </mat-select>
              <mat-hint>*Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <!-- <textarea matInput placeholder="Nombre Programa" [formControl]="responsableCtrl" formControlName="pgmProduccion"></textarea> -->
              <textarea matInput placeholder="Nombre Programa" formControlName="pgmProduccion"></textarea>
              <mat-hint>*Obligatorio</mat-hint>
            </mat-form-field>

          </div>
    </div>
    <div fxFlex="90" fxFlex.xs="50%" fxFlex.sm="50%">
      <mat-accordion>
        <!-- CAMARA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
                              (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              CAMARA
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Camara:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChange($event)">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChange()"
                    [checked]="checkedCamaraCamara"
                    [disabled]="disabledCamaraCamara">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Pluma:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraPluma($event)">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraPluma()"
                    [checked]="checkedCamaraPluma"
                    [disabled]="disabledCamaraPluma">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Steady:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraSteady($event)">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraSteady()"
                    [checked]="checkedCamaraSteady"
                    [disabled]="disabledCamaraSteady">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Personal:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" (change)="onChangeCamaraPersonal($event)">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (toggleChange)="onToggleChangeCamaraPersonal()"
                    [checked]="checkedCamaraPersonal"
                    [disabled]="disabledCamaraPersonal">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

          </mat-list>
      
        </mat-expansion-panel>

        <!-- VIDEO -->
        <mat-expansion-panel (opened)="panelOpenState = false"
                              (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              VIDEO
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Comunicaciones:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Pantallas:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Switch:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Personal:</div>
                <div class="Column">
                  <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                  Bien
                  <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                  </mat-slide-toggle>
                  Mal
                </div>
              </div>
            </mat-list-item>

          </mat-list>
      
        </mat-expansion-panel>
        <!-- PLAY OUT -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              PLAY OUT
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Recurso Técnico:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Contenido:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
            <div class="Row">
            <div class="Column">Personal:</div>
            <div class="Column">
            <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
            </div>
            <div class="Column">
            Bien
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
            </mat-slide-toggle>
            Mal
            </div>
            </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- GRAFICA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            GRAFICA
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- AUDIO -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              AUDIO
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- ILUMINACION -->
        <mat-expansion-panel (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ILUMINACION
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Recurso Técnico:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>

            <mat-divider inset="true"></mat-divider>

            <mat-list-item role="listitem">
              <div class="Row">
              <div class="Column">Personal:</div>
              <div class="Column">
              <mat-checkbox class="example-margin" >Evaluar</mat-checkbox>
              </div>
              <div class="Column">
              Bien
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              </mat-slide-toggle>
              Mal
              </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- TRANSPORTE SEÑAL -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              TRANSPORTE SEÑAL
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- ENERGIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ENERGIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- MAQUILLAJE/PELUQUERIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              MAQUILLAJE/PELUQUERIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- UTILERIA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              UTILERIA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- TRAMOYA -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              TRAMOYA 
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- SUPERVISOR -->
        <mat-expansion-panel (opened)="panelOpenState = false"
          (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              SUPERVISOR
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div class="Row">
                <div class="Column">Servicio:</div>
                <div class="Column">
                <mat-checkbox class="example-margin">Evaluar</mat-checkbox>
                </div>
                <div class="Column">
                Bien
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                </mat-slide-toggle>
                Mal
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <!-- FIN CATEGORIAS -->
      </mat-accordion>

    </div>
  </div>
</div>
</form>